
<form role="form" id="frmAddPoint">
    <div class="form-group">
        <label for="cardOrMail">Card or mail</label>
        <input type="text" class="form-control" id="txtCardOrMail" placeholder="Enter card or mail">
        <label for="cards">Card</label>
        <select id="cards">
            <option value="value">text</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ticket">Ticket#</label>
        <input type="text" class="form-control" id="txtTicket" placeholder="Enter ticket">
    </div>
    <div class="form-group">
        <label for="saleAmount">Sale amount</label>
        <input type="text" id="txtSaleAmount">
    </div>
    <div class="form-group">
        <label for="saleAmount">Points</label>
        <input type="text" id="txtPoint">
    </div>
    <button type="submit" class="btn btn-default">Go</button>
</form>